# --- Node.js & Package Managers ---
node_modules/
.npm/
.pnpm-debug.log*

# --- pnpm Specific ---
# If you use a local store (uncommon, but possible)
.pnpm-store/

# --- Build Outputs ---
dist/
build/
out/
.next/
.nuxt/
*.tsbuildinfo

# --- Environment & Secrets ---
.env
.env.local
.env.*.local
.dev.vars
*.pem

# --- IDEs & Editors ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Testing & Coverage ---
coverage/
.nyc_output/

## CSS engine
apps/docs/styled-system
packages/storybook/styled-system
styled-system-studio

## Antigravity
.antigravitycli

## Editor
.vscode
.zed
.cursor

## Others
.source
todos.md
.wrangler
.tanstack

## Storybook
storybook-static

## Cache
.tsup

## Testing
tags/
**/*.tgz